---
layout: default
---
<h2>Certificates</h2>
{% assign certificates = site.static_files | where: "extname", ".pdf" %}
{% assign index = page.name | remove_first: ".html" | minus: 1 %}
{% assign length = 0 %}
{% assign skip = index | times: 3 %}
{% assign files = 0 %}
{% for certificate in site.static_files %}
	{% if certificate.extname == ".pdf" and certificate.path contains page.dir %}
		{% assign files = files | plus: 1 %}
		{% if skip > 0 %}
			{% assign skip = skip | minus: 1 %}
			{% continue %}
		{% endif %}
	{% else %}
		{% continue %}
	{% endif %}
	{% if length == 3 %}
		{% continue %}
	{% endif %}
	{% assign length = length | plus: 1 %}
	{% assign padding = certificate.basename | size | modulo: 3 %}

	<h3>{{certificate.basename}}</h3>
    <object data="{{certificate.path}}#toolbar=0&navpanes=0&scrollbar=0" class="certificate">
		<h3>{{certificate.basename}}</h3>
		<p>Your browser doesn't support embedding PDFs. <a href="{{certificate.path}}">Download</a></p>
	</object>
	<br>
{% endfor %}
{% assign pages = files | divided_by: 3.0 | ceil | minus: 1 %}
<div class="pagination">
	{% if index > 0 %}
		<a href="{{index}}">&laquo;</a>
	{% endif %}
	{% for n in (0..pages) %}
		{% if n == index %}
			<a href="{{n | plus: 1}}" class="active"></a>
		{% else %}
			<a href="{{n | plus: 1}}"></a>
		{% endif %}
	{% endfor %}
	{% if index < pages %}
		<a href="{{index | plus: 2}}">&raquo;</a>
	{% endif %}
</div>