pre {
	tab-size: 3;
}

.string {
	color: #BB0;
}

.tag {
	color: red;
}

.scope {
	color: orangered;
}

.punctuation {
	color: gray;
}

.comment {
	color: #555;
}

.attribute {
	color: green;
}

.function {
	color: purple;
}