--- --- // Stop being "Word document"

html, body {
	padding: 0;
	margin: 0;

	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

// The wrap is a grid.
#wrap {
	display: grid;
	grid-template-areas:
		"header header"
		"aside main"
		"footer footer"
	;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 100vh auto auto;
}

// Checkbox
#responsive {
	all: unset;
	z-index: 10;
	display: none;
	grid-column: 1 / 6;
	grid-row: 1 / 4;
	background: rgba(0, 0, 0, 0.75);
}

nav, header, #corner {
	grid-area: header;
}

aside {
	grid-area: aside;
	max-width: fit-content;
}

main {
	grid-area: aside / aside / aside / main;
}

aside + main {
	grid-area: main;
}

footer {
	grid-area: footer;
}

#corner {
	fill: blue;
	color: white;
	justify-self: end;
}

nav {
	background-color: #333;
	height: fit-content;
	align-self: end;
	position: sticky;
	z-index: 20;
	top: 0;

	> ul {
		display: contents;

		> li {
			all: unset;
			color: white;
			display: inline-block;
			font-size: 17px;
			text-align: center;
			cursor: pointer;

			> a {
				all: unset;
				display: inline-block;
			}

			&:hover {
				background-color: blue;
			}

			> label,
			> a {
				padding: 14px 16px;
			}
		}
	}

	#responsive:not(:checked) + & > ul > #home > a::after {
		content: "Tomáš Wróbel";
		font-family: serif;
	}

	#responsive:not(:checked) + & > ul > #home > a::before {
		content: "TW";
		font-family: cursive;
		margin-right: 0.5em;
		font-size: 0.9em;
		background: blue;
		padding: 0.25em;
		border-radius: 10%;
	}

	#responsive:not(:checked) + & > ul > #home:hover {
		background-color: unset;
		transform: scale(1.1);
	}
}

main, aside {
	padding: 10px;
	overflow: auto;
}

main {
	margin-bottom: 2em;
}

header {
	display: flex;

	background: url(/images/background.png) no-repeat center;
	color: white;
}

header h1 {
	margin: auto;
}

aside {
	background-color: lightgray;
}

footer {
	background-color: gray;
	text-align: center;
	padding: 30px 10px;
}

nav > ul > :first-child {
	display: none;
}

@media (max-width: 640px) {
	#wrap {
		grid-template-areas:
			"header header"
			"main main"
			"aside aside"
			"footer footer"
		;
		grid-template-rows: 50vh auto auto auto auto;
	}

	nav {
		align-self: start;
		position: static;
	}

	nav > ul > li {
		display: none;
	}

	nav > ul > :first-child {
		display: block;
		width: fit-content;
	}

	nav {
		background-color: unset;
	}

	label[for="responsive"] {
		font-size: 1.5em;
	}

	label[for="responsive"]::after {
		content: "≡";
	}

	:checked + nav label[for="responsive"]::after {
		content: "⨉";
	}

	:checked + nav {
		position: fixed;
		top: 0;
		width: 50vw;
		background-color: #333;
		height: 100%;
		animation: open-nav 0.5s forwards ease-out;
	}

	#responsive:checked {
		display: block;
	}

	@keyframes open-nav {
		from {
			left: -50vw;
		}

		to {
			left: 0;
		}
	}

	:checked + nav li {
		display: block;
	}

	:checked + nav #home > a::after {
		content: "Home";
	}

	:checked + nav > ul > li > ul {
		position: static;
		width: 50vw;
	}
}

table {
	border-collapse: collapse;

	> thead > tr > th,
	> tbody > tr > td {
		border-bottom: 1px solid lightgray;
		padding: 10px;
	}
}